import("startupmsg")
export("taglist", "lstset", "lstsetR", "lstsetRd", 
       "SweaveListingPreparations", "readSourceFromRForge",
       "copySourceFromRForge", "lstinputSourceFromRForge", 
       "readPkgVersion",  "SweaveListingOptions",
       "SweaveListingoptions", "getSweaveListingOption",
       "SweaveListingMASK", "setToBeDefinedPkgs","lstsetLanguage",
       "changeKeywordstyles", "library", "require")
S3method(print, taglist)