import("methods")
import("startupmsg")
import("distr")
import("distrEx")
import("RandVar")

exportClasses("OptionalNumeric","MatrixorFunction",
              "PosSemDefSymmMatrix",
              "PosDefSymmMatrix",
              "Symmetry", "DistributionSymmetry",
              "NoSymmetry", "EllipticalSymmetry", "SphericalSymmetry",
              "FunctionSymmetry", "NonSymmetric", "EvenSymmetric", "OddSymmetric",
              "DistrSymmList", "FunSymmList",
              "ParamFamParameter",
              "ProbFamily", "ParamFamily", "L2ParamFamily")
exportClasses("RiskType", 
              "asRisk", "asCov", "trAsCov", "asHampel", "asBias", "asGRisk",
              "asMSE", "asUnOvShoot",
              "fiRisk", "fiCov", "trFiCov", "fiHampel", "fiMSE", "fiBias",
              "fiUnOvShoot")
exportClasses("BiasType", "onesidedBias", "asymmetricBias", "symmetricBias")
exportClasses("asSemivar", "asRiskwithBias")
exportClasses("L2GroupParamFamily", "L2LocationFamily", 
              "L2ScaleFamily", "L2LocationScaleFamily")
exportMethods("type", "SymmCenter", "distrSymm",
              "distribution", "props", "props<-", "addProp<-", "main", "main<-",
              "nuisance", "nuisance<-", "trafo", "trafo<-", "modifyParam",
              "dimension", "show", "plot", "param", "E", "name",
              "L2deriv", "L2derivSymm", "L2derivDistr", "L2derivDistrSymm",
              "FisherInfo", "checkL2deriv")
exportMethods("bound", "width")
exportMethods("nu", "name", "sign", "nu<-", "name<-", "sign<-", "biastype", "biastype<-")
exportMethods("solve")
exportMethods("existsPIC")
exportMethods("modifyModel")
S3method(print, Estimate)
export("PosDefSymmMatrix","PosSemDefSymmMatrix")
export("distrModOptions", "getdistrModOption",
       "MCEstimator", "MLEstimator", "MDEstimator")
export("NoSymmetry", "EllipticalSymmetry", "SphericalSymmetry",
       "NonSymmetric", "EvenSymmetric", "OddSymmetric",
       "DistrSymmList", "FunSymmList") 
export("ParamFamParameter", "ParamFamily", "L2ParamFamily",
       "BinomFamily", "PoisFamily", "NormLocationFamily",
       "GumbelLocationFamily", "NormScaleFamily", "ExpScaleFamily",
       "LnormScaleFamily", "GammaFamily", "NormLocationScaleFamily")
export("asCov", "trAsCov", "asHampel", "asBias", "asMSE", "asUnOvShoot", 
       "fiCov", "trFiCov", "fiHampel", "fiMSE", "fiBias", "fiUnOvShoot")
export("positiveBias", "negativeBias", "symmetricBias", 
       "asymmetricBias", "asSemivar")
export("isKerAinKerB")
export("L2LocationFamily", "L2ScaleFamily", "L2LocationScaleFamily")
