import("methods")
import("startupmsg")
import("distr")
import("distrEx")

export("NoSymmetry", "EllipticalSymmetry", "SphericalSymmetry",
       "ParamFamParameter", "ParamFamily",
       "distrModOptions", "getdistrModOption",
       "MCEstimator", "MLEstimator", "MDEstimator")
exportClasses("OptionalNumeric", 
              "Symmetry", "DistributionSymmetry",
              "NoSymmetry", "EllipticalSymmetry", "SphericalSymmetry",
              "ParamFamParameter",
              "ProbFamily", "ParamFamily")
exportMethods("type", "SymmCenter", "distrSymm",
              "distribution", "props", "props<-", "addProp<-", "main", "main<-",
              "nuisance", "nuisance<-", "trafo", "trafo<-", "modifyParam",
              "dimension", "show", "plot", "param",
              "KolmogorovDist", "HellingerDist", "TotalVarDist")
S3method(print, MCEstimator)