import("methods")
import("MASS")
import("distr")
import("distrEx")
import("distrSim")
import("distrTEst")
import("distrTeach")
import("RandVar")
importMethodsFrom("distrMod", "addInfo<-","addProp<-","asvar","asvar<-",
                  "biastype","biastype<-","bound","call.estimate",
				  "checkL2deriv","coerce","completecases","confint",
				  "criterion","criterion.fct","criterion<-","d",
				  "dimension","distrSymm","E","estimate","estimate.call",
				  "existsPIC","fam.call","fct","fct<-","FisherInfo",
				  "fixed","fixed.estimate","fixed<-","Infos","Infos<-",
				  "L2deriv","L2derivDistr","L2derivDistrSymm","L2derivSymm",
				  "locscalename","LogDeriv",
				  "main","main<-","makeOKPar","mceCalc","method","mleCalc",
				  "modifyModel","modifyParam","name","name.estimate","name<-","norm",
				  "normtype","normtype<-","nu","nu<-","nuisance",
				  "nuisance.estimate","nuisance<-","optimwarn","p","param",
				  "plot","print","profile","props",
				  "props<-","q","qqplot","QuadForm","QuadForm<-","r",
				  "samplesize.estimate","scalename","scaleshapename",
				  "scaleshapename<-","show","sign",
				  "sign<-","startPar","trafo","trafo.estimate",
				  "trafo.fct","trafo<-","untransformed.asvar",
				  "untransformed.estimate","validParameter","width",
				  "withPosRestr","withPosRestr<-")
importFrom("distrMod","addAlphTrsp2col","asBias","asCov","asHampel","asMSE",
           "asSemivar","asUnOvShoot","asymmetricBias","BetaFamily","BinomFamily",
		   "CauchyLocationScaleFamily","distrModMASK",
		   "distrModoptions","distrModOptions","Estimator","EuclideanNorm",
		   "EvenSymmetric","ExpScaleFamily","fiBias","fiCov","fiHampel","fiMSE",
		   "fiUnOvShoot","FunSymmList","GammaFamily","get.criterion.fct",
		   "getdistrModOption","InfoNorm","isKerAinKerB","L2LocationFamily",
		   "L2LocationScaleFamily","L2LocationUnknownScaleFamily",
		   "L2ParamFamily","L2ScaleFamily","L2ScaleUnknownLocationFamily",
		   "LnormScaleFamily","MCEstimator","MDEstimator","meRes",
		   "MLEstimator","NbinomFamily","NbinomMeanSizeFamily",
		   "NbinomwithSizeFamily","negativeBias","NonSymmetric",
		   "NormLocationFamily","NormLocationScaleFamily",
		   "NormLocationUnknownScaleFamily","NormScaleFamily",
		   "NormScaleUnknownLocationFamily","NormType","OddSymmetric",
		   "ParamFamily","ParamFamParameter","PoisFamily",
		   "positiveBias","QFNorm",
		   "QuadFormNorm","SelfNorm","symmetricBias","trafoEst")
importClassesFrom("distrMod","asBias","asCov","asGRisk","asHampel","asMSE",
           "asRisk","asRiskwithBias","asSemivar","asUnOvShoot","asymmetricBias",
		   "BetaFamily","BiasType","BinomFamily","CauchyLocationScaleFamily",
		   "Confint","Estimate","EvenSymmetric","ExpScaleFamily","fiBias","fiCov",
		   "fiHampel","fiMSE","fiRisk","fiUnOvShoot","FunctionSymmetry","FunSymmList",
		   "GammaFamily","InfoNorm","L2GroupParamFamily","L2LocationFamily",
		   "L2LocationScaleFamily","L2LocationScaleUnion","L2ParamFamily",
		   "L2ScaleFamily","L2ScaleShapeUnion","L2ScaleUnion","LnormScaleFamily",
		   "MatrixorFunction","MCEstimate","NonSymmetric","NormLocationFamily",
		   "NormLocationScaleFamily","NormScaleFamily","NormType","OddSymmetric",
		   "onesidedBias","OptionalDistrListOrCall","OptionalNumericOrMatrix",
		   "OptionalNumericOrMatrixOrCall","ParamFamily","ParamFamParameter",
		   "ParamWithScaleAndShapeFamParameter","ParamWithScaleFamParameter",
		   "ParamWithShapeFamParameter","PoisFamily","ProbFamily","QFNorm",
		   "RiskType","SelfNorm","ShowDetails","symmetricBias","trAsCov","trFiCov")