import("methods")
import("distr")
import("fBasics")
import("fGarch")
importFrom("startupmsg", "buildStartupMessage", "infoShow")

exportClasses("SNormParameter", "SSTdParameter", "SNorm", "SSTd")
export("SNorm", "SSTd", "STd")
exportMethods("xi","mean","sd","nu")
exportMethods("xi<-","mean<-","sd<-","nu<-")
